attrs==25.3.0
coverage==7.7.1
iniconfig==2.1.0
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
pip==25.0.1
pluggy==1.5.0
py==1.11.0
pydocstyle==6.3.0
pytest==8.3.5
pytest-cov==6.0.0
pyyaml==6.0.2
ruff==0.11.9
setuptools==78.1.0
snowballstemmer==2.2.0
tomli==2.2.1
types-pyyaml==6.0.12.20250326
typing-extensions==4.13.0
